@font-face {
  font-family: "doodle";
  src: url("../font/DarumadropOne-Regular.ttf");
}
:root {
  --nav-bg: rgb(27, 42, 67);
  --hover: rgb(18, 28, 45);
  --main: rgb(157, 160, 255);
  --light-blue: rgb(100, 252, 242);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "doodle";
  color: white;
  /* outline: 1px solid red; */
}
.content {
  height: 100vh;
  width: 100vw;
  /* gap: 5vh; */
  /* background-image: url("https://as1.ftcdn.net/v2/jpg/03/33/50/86/1000_F_333508696_YFaCwXTuIiYNHeRltj3vTg6DUpabWDDu.jpg"); */
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; */
  background: linear-gradient(181deg, rgba(0, 0, 0, 1) 0%, rgba(51, 80, 125, 1) 71%);
  /* background-color: rgb(136, 179, 195); */
}
#grid {
  border: 5px solid var(--nav-bg);
  border-radius: 7px;
  display: flex;
  height: 20rem;
  box-shadow: -1px 1px 14px 0px rgba(0, 0, 0, 0.62);
  aspect-ratio: 64 / 32;
}
#color-picker {
  margin-left: 14px;
  height: 40px;
  width: 40px;
  border: none;
  background-color: inherit;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50px;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}
.title {
  font-size: 4rem;
  /* background-color: var(--nav-bg); */
  border-radius: 10px;
  margin-top: 35px;
}
.square {
  /* border: 1px solid rgba(0, 0, 0, 0.2); */
  background-color: #f1f1f1;
  flex-grow: 100;
}
.row {
  display: flex;
  flex-direction: column;
  flex-grow: 100;
}
.active {
  background-color: black;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 35px;
  gap: 3rem;
  margin-left: 4rem;
  /* background-color: rgba(35, 35, 99, 255); */
  /* box-shadow: -1px 1px 14px 0px rgba(0, 0, 0, 0.62); */
}
.controls {
  position: fixed;
  height: 100vh;
  width: 4rem;
  background-color: var(--nav-bg);
  overflow: hidden;
  transition: 350ms ease-in;
}
.controls:hover {
  width: 12rem;
  transition: 350ms ease-out;
}
.controls:hover #arrow svg {
  width: 3.5rem;
  rotate: 90deg;
}
.controls:hover #arrow path {
  color: var(--light-blue);
}
.button {
  border: none;
  width: 12rem;
  height: auto;
  padding-bottom: 5px;
  background-color: inherit;
  font-size: 0.9rem;
  display: flex;
  padding: 0.7rem 0rem 0.7rem 0.75rem;
}
.button svg {
  width: 2.5rem;
  height: auto;
  flex-shrink: 0;
}
.button:hover * {
  cursor: default;
  color: var(--light-blue);
}
.button:hover {
  background-color: var(--hover);
}
.button:hover path {
  color: var(--light-blue);
  transition: 200ms ease-out;
}
.nav-item {
  padding-left: 25px;
  align-self: center;
}
#arrow {
  background-color: var(--hover);
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}
#arrow svg {
  width: 3rem;
  height: auto;
  transition: 350ms ease-in;
}

@media (max-width: 732px) {
  #grid {
    height: 15rem;
  }
}
@media (max-width: 550px) {
  #grid {
    height: 10rem;
  }
  .controls {
    width: 100vw;
    height: 3.25rem;
    display: flex;
    top: 0;
    left: 0;
  }
  .button {
    flex-direction: column;
    align-items: center;
    padding: 0.7rem 0.75rem 0rem 0.75rem;
    font-size: 0.75rem;
    max-width: 64px;
  }

  .button svg {
    height: 1.5rem;
  }
  .nav-item {
    padding: 0;
    padding-top: 20px;
  }
  #color-picker {
    margin: 0;
  }
  .title {
    margin-top: 120px;
  }
  .main {
    margin-top: 3.25rem;
    margin-left: 0;
  }
  .controls:hover {
    height: 9rem;
    width: 100vw;
  }
  .controls #arrow svg {
    rotate: 90deg;
  }
  .controls:hover #arrow svg {
    width: 2.5rem;
    rotate: 0deg;
  }
  #color-picker {
    flex-shrink: 0;
    margin-top: 10px;
  }
}
