@font-face {
  font-family: "doodle";
  src: url("../font/DarumadropOne-Regular.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "doodle";
  color: white;
  /* outline: 1px solid red; */
}
.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  /* gap: 5vh; */
  background-image: url("../images/doodles-bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#grid {
  border: 2px solid black;
  display: flex;
  height: 80%;
  flex-shrink: 0;
  box-shadow: -1px 1px 14px 0px rgba(0, 0, 0, 0.62);
  aspect-ratio: 64 / 32;
}
#color-picker {
  height: 80px;
  width: 80px;
  border: none;
  background-color: inherit;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.title {
  font-size: 4rem;
  background-color: rgba(78, 81, 162, 255);
  padding: 0.75rem 3rem 2rem;
  border-radius: 10px;
  margin-top: 20px;
}
.square {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #f1f1f1;
  flex-grow: 100;
}
.row {
  display: flex;
  flex-direction: column;
  flex-grow: 100;
}
.active {
  background-color: black;
}
.main {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: rgba(35, 35, 99, 255); */
  padding: 0.5rem 0.5rem;
  border-radius: 35px;
  gap: 3rem;
  /* box-shadow: -1px 1px 14px 0px rgba(0, 0, 0, 0.62); */
}
.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: rgba(84, 128, 153, 255);
  padding: 1.5rem;
  border-radius: 15px;
}
.button {
  border: 1px solid black;
  width: 8rem;
  height: 2rem;
  font-size: 1.15rem;
  border-radius: 10px;
  padding-bottom: 5px;
  background-color: rgb(109, 109, 255);
  text-align: center;
}
.active-btn {
  background-color: rgb(100, 209, 239);
}

@media (max-width: 1000px) {
  .main {
    flex-direction: column;
    gap: 0;
    height: 50%;
  }
  .controls {
    flex-direction: row;
    gap: 0.5rem;
    padding: 0.9rem;
    border-radius: 25px;
  }
  .button {
    font-size: 0.7rem;
    width: 3rem;
    height: 2.3rem;
  }
  #color-picker {
    height: 40px;
    width: 40px;
    border: none;
    background-color: inherit;
  }
  #grid {
    height: 10rem;
  }
}
